.movies-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    place-items: center;
    /* padding-left: 2.3rem; */
    /* gap: rem; */
}
.movies{
    background: #272323;
    color: rgb(161, 157, 157);
}
.card{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 0.5rem;
    max-width: 260px;
    height: 500px;
    /* border: 1px solid red; */
    border-radius: 6px;
    overflow: hidden;
    padding-bottom: 1.7rem;
    margin-bottom: 1.2rem;
    cursor: pointer;

}
.card img{
    width: 100%;
    height: 70%;
    border: 5px solid;
  border-image: linear-gradient(45deg, rgb(156, 60, 5), rgb(230, 205, 49)) 1;
    border-radius: 6px;
}
.card h1{
    font-weight:300;
    font-size: 1.3rem;
    padding: 1px;
    text-align: center;
}
.card .p1{
   text-align: center;
   font-size: 0.6rem;
   color: #948A8A;
}
.card .p2{
    font-size: 0.87rem;
}
.card .p2:hover{
    color: rgb(179, 9, 9);
}
@media (max-width: 550px){
    .card{
        max-width: 200px;
        height: 400px;
        gap: 0.2rem;
        height: 650px;
    }
    .movies-list{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        place-items: end;
        gap: 0.2rem;
        margin-right: 2rem;
    }
    header .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .filter2{
        flex-wrap: wrap-reverse;
    }
    header .img-logo{
        justify-content: center;
    }

}
.page-num{
    max-width: 250px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* place-items: center; */
    gap: 1rem;
    margin: auto;
    padding: 0.6rem;
}
.page-num div{
    border: 1px solid white;
    height: 40px;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.page-num .fourth{
    border: none;
}
.page-num .fourth img{
    height: 20px;
    width: 30px;
    /* padding-bottom: 2rem; */
}
.page-num .next-page {
   height: 40px;
   width: 40px;
}
.page-num .next-page img{
    height: 16px;
    width: 16px;
    padding-top: 5px;
    padding-right: 5px;
}
.page-num .div1{
    background: rgb(102, 5, 5);
    border: 1px solid rgb(102, 5, 5);
    cursor: pointer;
}

.page-num .div:hover{
    background: rgb(102, 5, 5);
    border:1px solid rgb(102, 5, 5);
    cursor: pointer;
}
.next-page:hover{
    background: rgb(102, 5, 5);
    border:1px solid rgb(102, 5, 5);
    cursor: pointer;
}